$transition-duration: 400ms;

.modal-root__dynamic-element {
    height: inherit;

    .overlay {
        background-color: transparent;
    }

    .overlay--visible {
        @include tablet {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $color-fuel;
            -webkit-transition: background-color $transition-duration ease-in;
            -moz-transition: background-color $transition-duration ease-in;
            transition: background-color $transition-duration ease-in;
        }
    }
}

.modal {
    height: inherit;
    background-color: $color-white;
    opacity: 0;
    -webkit-transition: opacity $transition-duration ease-in;
    -moz-transition: opacity $transition-duration ease-in;
    transition: opacity $transition-duration ease-in;

    @include tablet {
        height: auto;
        max-height: 450px;
        @include center;
    }

    .content {
        padding-right: 30px;
        padding-left: 30px;
        padding-bottom: 30px;
    }

    .close {
        cursor: pointer;
        float: right;
        padding-top: 10px;
        padding-right: 10px;
        user-select: none;
    }
}

.modal--open {
    opacity: 1;
}