.spot-details {
    clear: right;

    .title {
        text-align: center;
    }

    .sub-title {
        margin-top: 20px;
    }

    p {
        @include tablet {
            max-height: 250px;
            overflow-y: auto;

            &::-webkit-scrollbar {
                width: 5px;
                background: transparent;
            }
            
            &::-webkit-scrollbar-thumb {
                background: darken($color: $color-white, $amount: 10%);
            }
        }
    }

    .book-it {
        margin-top: 15px;
        display: flex;
        justify-content: center;
        
        a {
            color: $color-white;
        }
    }
}